body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.remdec{
   
  text-decoration: none; 
  color: inherit; 
}
html {
  scroll-behavior: smooth;
}
